.ContactNavigation {
    /*-fx-border-color: transparent;*/
    /*-fx-pref-width: 180px;*/

    -fx-padding: 5px 5px 0 5px;

}

.CategorisedListView {
    /*-fx-border-color: transparent;*/
    /*-fx-pref-width: 180px;*/
    /*-fx-background-color: red;*/
    /*-fx-padding: ;*/


}

.CategoryHeader {
    /*-fx-border-color: red;*/
    /*-fx-border-width: 0 0 1px 0;*/
    /*-fx-border-color: black;*/
    /*-fx-padding: 0 10px;*/
    /*-fx-padding: 0 5px;*/
    -fx-padding: 10px 10px 0 10px;

}

.Separator {
    /*-fx-pref-width: 10px;*/
}

.ContactNavigationTab {
    /*-fx-border-color: transparent;*/
    /*-fx-background-color: black;*/
    /*-fx-pref-width: 180px;*/
    /*-fx-padding: 2px 0 2px 12px;*/
    -fx-padding: 2px 25px;


}

.selected {
    /*-fx-background-color: rgba(0, 0, 0, .1);*/
}

.CustomGrid {
    -fx-background-color: transparent;
}