.SearchField, .EditableLabel{
    -fx-background-color: transparent;
    -fx-padding: 2px 5px;
    -fx-border-radius: .5em;
}

.SearchField, .editable:focused {
    -fx-border-color: #cdcdcd;
}

.EditableLabel {
    -fx-background-color: transparent;
}

