.ContactNavigation {
    -fx-pref-width: 183;
    -fx-min-width: 183;
    -fx-max-width: 183;
    -fx-fill-height: true;
    -fx-padding: 0px;
    -fx-background-color: #f6eff0;
    -fx-background-radius: 0 0 0 5px;
    /*-fx-padding: 5px 5px 0 5px;*/
}

.CategoryHeader {
    -fx-padding: 10px 10px 0 10px;
}

.ContactNavigationTab {
    -fx-padding: 2px 25px;
}

.selected,
.selected * {
    -fx-background-color: #fc2f6a;
    -fx-text-fill: #f6f6f6;
}

.CustomGrid {
    -fx-background-color: transparent;
}
