.ContactNavigation {
    -fx-pref-width: 183;
    -fx-min-width: 183;
    -fx-max-width: 183;
    -fx-fill-height: true;
    -fx-padding: 0px;
    -fx-background-color: #f6eff0;
    -fx-background-radius: 0 0 0 5px;
}

.CategoryHeader {
    -fx-padding: 10px 10px 0 15px;
}

.ContactNavigationTab {
    -fx-padding: 2px 25px;
}

.ContactNavigationTab:hover {
    -fx-cursor: hand;
    -fx-background-color: #e6dfe0;
}

.ContactNavigationTab.selected,
.selected * {
    /*-fx-background-color: #fc2f6a;*/
    /*-fx-background-color: #5d94fc;*/
    -fx-background-color: #4AA88E;
    -fx-text-fill: #f6f6f6;
}

.CustomGrid {
    -fx-background-color: transparent;
}
