.ContactFieldsList {
    -fx-padding: 0 0 10 15;
}

.ContactFieldsList .ContactFieldRow  {
    -fx-padding: 5;
}

.ContactFieldsList .separator {
    -fx-pref-width: 1000;
}

.ContactFieldsList .ContactFieldRow:hover .value {
    -fx-background-radius: 0 1em 1em 0;
    /*-fx-background-color: #d1d1d1;*/
    -fx-background-color: rgba(74, 168, 142, 0.27);
}

.ContactFieldsList .ContactFieldRow:hover .name {
    -fx-background-radius: 1em 0 0 1em;
    /*-fx-background-color: #b9b9b9;*/
    -fx-background-color: #4AA88E;

    -fx-text-fill: white;
}

.ContactFieldsList .ContactFieldRow:hover .value,
.ContactFieldsList .ContactFieldRow:hover .name {
    -fx-cursor: hand;
}

.ContactFieldsList .ContactFieldRow .EditableLabel{
    -fx-translate-x: 25px;
}

.ContactFieldsList .ContactFieldRow .name {
    -fx-text-fill: #80868d;
    -fx-prompt-text-fill: #80868d;
}

.ContactFieldsList .ContactFieldRow .name.editable { /* confirm color scheme */
    /*-fx-text-fill: #fc2f6a;*/
    /*-fx-text-fill: #fc3b53;*/
    -fx-text-fill: #4AA88E;
}

.ContactFieldsList .ContactFieldRow:hover .editable {
    -fx-background-color: transparent;
    -fx-cursor: text;
}

.ContactInfoHeader {
    -fx-padding: 5 20;
}

.ContactInfoHeader .EditableLabel {
    -fx-font-size: 18;
}

.ContactInfoHeader .nickname {
    -fx-font-size: 16;
    /*-fx-text-fill: #8D8D8D;*/
    -fx-text-fill: #4AA88E;
    -fx-font-style: italic;
}