.stack-pane {
    -fx-background-color: transparent;
    -fx-max-width: 100px;

}

.scroll-pane > .viewport  {
    -fx-background-color: transparent;

}

.ScrollableView, .track,
.track-background, :vertical {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    /*-fx-padding: 0;*/
    /*-fx-pref-width: 100%;*/
}

.ScrollableView:hover > .scroll-bar:vertical .thumb,
.ScrollableView:focused > .scroll-bar:vertical .thumb{
    -fx-opacity: 100%;
    /*-fx-padding: 0 100px;*/
    -fx-background-position: top;

}

.increment-arrow, .decrement-arrow,
.increment-button, .decrement-button {
    -fx-opacity: 0%;
    display: none;
    -fx-animated: true;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-opacity: 0%;
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}