.stack-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport  {
    -fx-background-color: transparent;
}

.ScrollableView {
    -fx-fit-to-width: true;
}

.ScrollableView, .track,
.track-background, :vertical {
    -fx-background-color: transparent;

}

.ScrollableView .track {
    display: none;
    visibility: hidden;
}

.ScrollableView.overflowed:hover > .scroll-bar:vertical .thumb {
    -fx-opacity: 100%;
    -fx-background-position: top;
}

.ScrollableView .scroll-bar:vertical .thumb:hover,
.ScrollableView .scroll-bar:vertical .thumb:focused {
    -fx-cursor: CLOSED_HAND;
}


.increment-arrow, .decrement-arrow,
.increment-button, .decrement-button {
    -fx-opacity: 0%;
    -fx-padding: 0 4px;
    display: none;
    -fx-animated: false;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-opacity: 0%;
    -fx-background-color: rgb(121, 116, 116);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}