.SearchField, .EditableLabel{
    -fx-background-color: transparent;
    -fx-padding: 2px 5px;
    -fx-border-radius: .25em;
    -fx-border-width: 1;
    -fx-max-height: 5;
}

.SearchField, .editable:focused {
    -fx-border-color: #cdcdcd;

}

.EditableLabel {
    -fx-background-color: transparent;
    -fx-text-overrun: ellipsis;

}

.SearchField {
    -fx-background-color: #e2dad9;
    -fx-border-color: #d9d1d0;
    -fx-prompt-text-fill: #beb7b6;
}


/*.SearchField {*/
    /*-fx-alignment: center;*/
/*}*/

/*.SearchField:focused {*/
    /*-fx-alignment: left;*/
/*}*/
