.root {
    -fx-background-color: white;
    -fx-background-radius: 0 0 5px 5px;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

/*.rootPane {*/
    /*-fx-background-color: blue;*/
/*}*/

/*.Window {*/
    /*!*background-color: blue;*!*/
    /*!*-fx-background-radius: 5em;*!*/
/*}*/

/*.vr {*/
    /*-fx-padding: 5 0 20 0;*/
/*}*/